@font-face {
    font-family: timeBurner;
    src: url(../../fonts/timeburner_regular.ttf);
}
.half_bott{
	/*background-color: #77a443;*/
	/*background-image: url("../../images/first_page.png");
	background-size: contain;*/
}

.main_container {
  	background-color: white;
  	text-align: center;
  	padding: 0px;
    width: 50%;
    height: auto;
    -webkit-box-shadow: 0px 57px 66px -31px rgba(0,0,0,0.67);
	-moz-box-shadow: 0px 57px 66px -31px rgba(0,0,0,0.67);
	box-shadow: 0px 57px 66px -31px rgba(0,0,0,0.67);
	position: relative; 
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 1px solid #e3e3e3;
	margin: 0 auto;
}
.panel-heading{
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	background-color: #77a443;
	font-family: timeBurner;
}
.panel-body{
	padding-left: 40px;
	padding-right: 40px;
}
.panel-heading h2{
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	margin: 0px;
	padding: 8px;
	text-align: center;
	color: white;
	background-color: #77a443;
}
.left{
	text-align: left;
}
.btn-lg{
	width: 100%;
}
.title h1{
	text-align: center;
	margin: 0px;
	margin-top: 5%;
}
.title h3{
	margin: 0px;
	text-align: center;
	margin-bottom: 2%;
}
.title_holder{
	width: 80%;
	margin: 0 auto;
}
.bott_logo h1.logo2{
	text-align: center;
	margin: 0px;
}
.bott_logo h4{
	text-align: center;
	margin: 0px;
	text-shadow: 1px 0px 30px rgba(150, 150, 150, 1);
}
.bott_logo h1{
	text-align: center;
	margin: 0px;
	margin-top: -10px;
	text-shadow: 1px 0px 30px rgba(150, 150, 150, 1);
}
.bott_logo h3{
	margin: 0px;
	margin-top: 0px;
	text-align: center;
	text-shadow: 1px 0px 30px rgba(150, 150, 150, 1);
}
.bott_logo{
	margin-top: 60px;
	text-align: center;
}
.list{
	text-align: left;
	 list-style-type:none;
}
h4{
	font-weight: bold;
}
.clear{
	clear: both;
}
.footer {
	text-align: center;
	width:100%;
	bottom:0;
	resize: both;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}
.row{
	padding: 0px;
	margin: 0 auto;
}
.upload{
	width: 100%;
	margin: 0 auto;
	border: 1px solid #ccc;
	overflow: auto; 
	padding: 0.2%;
}
.upload_left{
	height: 600px;
	padding: 20px;
	width: 43%;
	float: left;
/*	margin-right: 5%;*/
	border: 1px solid #ccc;
	overflow: hidden;
}
.upload_right{
	height: 600px;
	padding: 20px;
	width: 43%;
	float: left;
/*	margin-left: 5%;*/
	border: 1px solid #ccc;
	overflow: hidden;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.btn-group-vertical{
	float: left;
	width: 14%;
	padding: 10px;
	margin-top: 18%
}
.center{
	text-align: center;
	margin-top: 100%;
}
#logo{

}
a .actions{
	text-align: center;
	margin: 0 auto;
}
.output{
	margin-top: 20px;
	border: 1px solid #ccc;
	overflow: auto;

}
.txt_outputs{
	margin: 0 auto;
	width: 100%;
	border: 1px solid #ccc;
}